.section-special {
  width: 1170px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-bottom: 3px solid #efeef5;
  padding: 25px 0 25px;
  .special-slide-image {
    width: 100%;
    padding-top: 56%;
    background-position: center center;
    background-size: cover;
  }
  .special-slide-item {
    width: 278px !important;
    margin: 5px;
    h5 &:hover {
      color: aqua;
    }
  }
}
